body{
    background-color: rgb(224, 140, 182);
    text-align: center;
    padding: 20px;   
}
h1{
    color: crimson;
    padding: 20px;
    font-size: 60px;
}

h2{
    color: rgb(177, 41, 86);
    padding: 10px; 
    font-size: 30px;   
}

p{
    font-size: 20px;
    padding: 10px;
    color: purple;
}

img{
    border: 5px solid rgb(179, 101, 93);
    border-radius: 20px;
    height: 300px;
    width: 300px;
}

p{


}